@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 300 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 300 100% 50%;
    --radius: 0.5rem;
    --chart-1: 280, 100%, 50%;
    --chart-2: 0, 0%, 100%;
    --chart-3: 350, 100%, 88%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 300 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 300 100% 50%;
  }
}

a {
  color: #FFF;
}
a:hover {
   color: #609
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes pulse-light {
  0% {
    opacity: 0.6;
    box-shadow: 0 0 5px 2px currentColor;
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 15px 5px currentColor;
  }
  100% {
    opacity: 0.6;
    box-shadow: 0 0 5px 2px currentColor;
  }
}

.pulse-light {
  animation: pulse-light 2s infinite;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  display: inline-block;
  margin-right: 8px;
}

.pulse-light-green {
  color: #10b981;
}

.pulse-light-yellow {
  color: #f59e0b;
}

.pulse-light-red {
  color: #ef4444;
}

/* Disabled registration form */
.registration-ended {
  opacity: 0.6;
  pointer-events: none;
  filter: grayscale(0.8);
}

.lite-word::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 3px;
  z-index: 0;
  transition: opacity 0.15s ease-in-out;
  opacity: 0;
}

.lite-word:hover::before {
  background: radial-gradient(circle, rgba(216,191,255,0.8), transparent 60%);
  opacity: 1;
  filter: blur(3px);
}
